@page "/"

<PageTitle>Home</PageTitle>

<h1>Guess the Number</h1>

Welcome to Guess the Number! Choose a gamemode from the left-hand panel to get started, or you can check your high scores in the scoreboard.
